<div>
	<div class="input-group">
		<span class="input-group-addon">Nome da Empresa</span> <input type="text"
			class="form-control" name="account.companyName" placeholder="Fulano Engenharia">
	</div>
	<br />
	
	<div class="input-group" style="z-index: 2000">
		<span class="input-group-addon">Data de Cadastro</span> <input type="text"
			class="form-control" name="account.registerDate" placeholder="DD/MM/YYYY">
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon">Status</span> <input type="text"
			class="form-control" name="account.status" placeholder="Status">
	</div>
</div>