<div>

	<div class="alert alert-success">This is sucess</div>
	<div class="alert alert-info">this is info</div>
	<div class="alert alert-warning">this is warning</div>
	<div class="alert alert-danger">this is danger</div>
	
	
	<div class="input-group">
		<span class="input-group-addon">Email</span> <input type="text"
			class="form-control" placeholder="Username">
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon">Address</span> <input type="text"
			class="form-control" placeholder="address">
	</div>
	<br />
	<div class="input-group">
		<span class="input-group-addon">Name</span> <input type="text"
			class="form-control" placeholder="address">
	</div>
	
	
</div>